@{
    ViewData["Title"] = "Home Page";
}

<div class="container containerPadding">
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Placeholder", "Index", "Home", null, new { @class = "btn btn-default homeButton" })
        </div>

        <div class="col-md-4">
            @Html.ActionLink("Placeholder", "Index", "Home", null, new { @class = "btn btn-default homeButton" })
        </div>

        <div class="col-md-4">
            @Html.ActionLink("Placeholder", "Index", "Home", null, new { @class = "btn btn-default homeButton" })
        </div>
    </div>
</div>