@model AssociazioneSportiva.Models.TipoSocietà
@{ 
    <form asp-controller="Demo" asp-action="Index" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="row">
                <div asp-validation-summary="ModelOnly"></div>
            </div>
        </div>
    </form>
}